<div class="search-box">
  <div class="search-form">
    <input class="search-box-input" id="searchIpt" placeholder="Search" />
    <button type="submit" class="search-box-submit">&#xF002;</button>
  </div>
  <div class="search-result-box"></div>
</div>
